.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 233, 233);
    border-bottom: 1px solid black;
    width: 100vw;
    height: 40px;
    padding: 10px 0;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
}

.navbar-left {
    margin: 0 10px;
    padding: 10px;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1080px;
  }

  .navbar-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .navbar-link {
    margin: 0 10px;
    padding: 10px;
    font-weight: 600;
  }