#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  background: linear-gradient(135deg, rgb(226, 216, 206), #c7d1dc);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  width: 100%;
  margin-top: 20px;
  color: rgb(0, 0, 0);
  min-height: 80vh;
}

a {
  text-decoration: none;
  color: black;
}